/* Basic styles */

:root {
    --pg-font-family-base: "Montserrat", Arial, sans-serif;
    --bs-body-font-weight: 300;
}
html {
    font-size: 1em;
}
body {
    color: black;
    font-family: var(--pg-font-family-base);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--pg-font-family-base);
    font-weight: 300;
}
h2 {
    line-height: 1.1;
}
ul {
    margin-left: 0;
    line-height: var(--bs-body-line-height);
}
a {
    text-decoration: none;
}
strong {
    font-weight: bold;
}
.navbar {
    --bs-navbar-brand-color: #1d82ff;
}
.form-control {
    font-weight: 300;
    color: #495057;
}
.center {
    text-align:center;
}
.six-em {
    font-size: 6em;
    line-height: .5em;
}
.three-em {
    font-size: 3em;
}
.two-em {
    font-size: 2em;
}
.one-em {
    font-size: 1.5em;
}
.font-weight-bold {
    font-weight: 700;
}
.font-weight-normal {
    font-weight: 300;
}
.font-italic {
    font-style: italic;
}
.uppercase {
    text-transform: uppercase;
}
@media (max-width: 768px) {
    .six-em {
        font-size: 3em ;
        line-height: .5em;
    }
    .three-em {
        font-size: 1.7em ;
    }
    .two-em {
        font-size: 1.2em ;
    }
    .one-em {
        font-size: 1em ;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.loading-spinner.active {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 0.25rem solid #919191;
    border-top-color: black;
    animation: spin 1s infinite linear;
    display: inline-block;
}
.green {
    color: green;
}
.red {
    color: red;
}
.orange {
    color: orange;
}
.white {
    color: white;
}
.white:hover {
    color: lightgrey;
}
.black {
    color: black;
}
@media (max-width: 991px) {
    .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}


/* Button styles */

.btn {
    --bs-btn-font-weight: var(--font-weight-default);
}
.btn-close:focus, .btn-close:active {
    box-shadow: none;
}
.btn-outline-dark {
    --bs-btn-border-color: black;
}

/* Navbar styles */

.pg-navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 1em 1em;
}

.pg-navbar.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
}
.pg-navbar.scrolled.awake {
    margin-top: 0px;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}
.pg-navbar.scrolled.sleep {
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}
.pg-navbar.scrolled {
    background-color: var(--bs-white);
}
.pg-navbar.scrolled {
    -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15); }

.navbar-dark {
    --bs-link-color: white;
    --bs-navbar-color: white;
}
.navbar-dark .navbar-brand {
    --bs-navbar-brand-color: white;
    --bs-navbar-brand-hover-color: #b2dcff;
}

.navbar-dark .btn-outline-dark {
    --bs-btn-color: white;
    --bs-btn-border-color: white;
    --bs-btn-hover-bg: black;
}

.navbar-toggler {
    --bs-navbar-toggler-font-size: 30px;
}
.navbar-toggler, .navbar-toggler:active, .navbar-toggler:focus {
    border: none;
    box-shadow: none;
}
.pg-navmenu {
    --bs-bg-opacity: 1;
    padding: 0.5em 1em;
}
.navbar-dark .pg-navmenu {
    background: black;
    --bs-offcanvas-color: white;
}
.navbar-dark .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}
@media ( max-width: 576px ) {
    .navbar__cta {
        order: 2;
        width: 100%;
    }
}

.nav-link {
    --bs-nav-link-font-size: 16px;
}

/* Home page styles */

.video-image-link {
    cursor: pointer;
}