@font-face {
  font-family: 'PrayerGlobal';
  src:  url('fonts/PrayerGlobal.eot?toiqar');
  src:  url('fonts/PrayerGlobal.eot?toiqar#iefix') format('embedded-opentype'),
    url('fonts/PrayerGlobal.ttf?toiqar') format('truetype'),
    url('fonts/PrayerGlobal.woff?toiqar') format('woff'),
    url('fonts/PrayerGlobal.svg?toiqar#PrayerGlobal') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'PrayerGlobal' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pg-chevron-down:before {
  content: "\e91b";
}
.pg-chevron-left:before {
  content: "\e91c";
}
.pg-chevron-right:before {
  content: "\e91d";
}
.pg-chevron-up:before {
  content: "\e91e";
}
.pg-menu:before {
  content: "\e91f";
}
.pg-check:before {
  content: "\e900";
}
.pg-close:before {
  content: "\e901";
}
.pg-cluster:before {
  content: "\e902";
}
.pg-community:before {
  content: "\e903";
}
.pg-crown:before {
  content: "\e904";
}
.pg-give:before {
  content: "\e905";
}
.pg-home:before {
  content: "\e906";
}
.pg-information:before {
  content: "\e907";
}
.pg-profile:before {
  content: "\e908";
}
.pg-logo-prayer:before {
  content: "\e909";
}
.pg-pause:before {
  content: "\e90a";
}
.pg-pray-hands-dark:before {
  content: "\e90b";
}
.pg-pray-hands-light:before {
  content: "\e90c";
}
.pg-prayer:before {
  content: "\e90d";
}
.pg-prayerfuel:before {
  content: "\e90e";
}
.pg-question-dark:before {
  content: "\e90f";
}
.pg-question-light:before {
  content: "\e910";
}
.pg-race:before {
  content: "\e911";
}
.pg-relay:before {
  content: "\e912";
}
.pg-settings:before {
  content: "\e913";
}
.pg-share:before {
  content: "\e914";
}
.pg-start:before {
  content: "\e915";
}
.pg-status:before {
  content: "\e916";
}
.pg-time:before {
  content: "\e917";
}
.pg-world-arrow:before {
  content: "\e918";
}
.pg-world-dark:before {
  content: "\e919";
}
.pg-world-light:before {
  content: "\e91a";
}
