/* Basic styles */
@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons/fonts/ionicons.eot?v=2.0.0");
  src: url("../fonts/ionicons/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/ionicons/fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("../fonts/ionicons/fonts/ionicons.woff?v=2.0.0") format("woff"), url("../fonts/ionicons/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("fonts/fontawesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
    --pg-font-family-base: "Montserrat", Arial, sans-serif;
    --pg-brand-color: #1d82ff;
    --pg-brand-color-dark: #0c4183;
    --pg-brand-color-light: #b5d6ff;
    --font-weight-default: 300;
    --bs-body-font-weight: 300;
    --bs-body-line-height: 1.8;
}
html {
    font-size: 1em;
}
body {
    color: black;
    font-family: var(--pg-font-family-base);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--pg-font-family-base);
    font-weight: 300;
}
h2 {
    line-height: 1.1;
}
ul {
    margin-left: 0;
    line-height: var(--bs-body-line-height);
}
a {
    text-decoration: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
strong {
    font-weight: bold;
}
.navbar {
    --bs-navbar-brand-color: var(--pg-brand-color);
}
.form-control {
    font-weight: 300;
    color: #495057;
}
.center {
    text-align:center;
}
.six-em {
    font-size: 6em;
    line-height: .5em;
}
.three-em {
    font-size: 3em;
}
.two-em {
    font-size: 2em;
}
.one-em {
    font-size: 1.5em;
}
.small {
    font-size: 14px;
}
.font-weight-bold {
    font-weight: 700;
}
.font-weight-normal {
    font-weight: 300;
}
.font-italic {
    font-style: italic;
}
.uppercase {
    text-transform: uppercase;
}
@media (max-width: 768px) {
    .six-em {
        font-size: 3em ;
        line-height: .5em;
    }
    .three-em {
        font-size: 1.7em ;
    }
    .two-em {
        font-size: 1.2em ;
    }
    .one-em {
        font-size: 1em ;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.loading-spinner.active {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 0.25rem solid #919191;
    border-top-color: black;
    animation: spin 1s infinite linear;
    display: inline-block;
}
.green {
    color: green;
}
.red {
    color: red;
}
.orange {
    color: orange;
}
.blue {
    color: var(--pg-brand-color);
}
.white {
    color: white;
}
.white:hover {
    color: lightgrey;
}
.light-grey {
    color: #7D7D7D
}
.black {
    color: black;
}
.green-bg {
    background-color: green;
}
.red-bg {
    background-color: red;
}
.blue-dark-bg {
    background-color: var(--pg-brand-color-dark);
}
.blue-bg {
    background-color: var(--pg-brand-color);
}
.blue-light-bg {
    background-color: var(--pg-brand-color-light);
}
.orange-dark-bg {
    background-color: rgb(255, 98, 0);
}
.orange-bg {
    background-color: orange;
}
.orange-light-bg {
    background-color: hsl(39, 100%, 74%);
}
@media (max-width: 991px) {
    .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

/* Composition */

.page-section {
    padding: 9em 0;
    position: relative;
    display: block;
}

@media (max-width: 991px) {
    .page-section {
        padding: 4em 0;
    }
}

/* Utilities */

.header-border-top {
    position: relative;
    padding-top: 30px;
    text-align: center;
}
.header-border-top::before {
    position: absolute;
    top: 0;
    height: 2px;
    width: 50px;
    content: "";
    background: #1d82ff;
    left: 50%;
    transform: translateX(-50%);
}
.header-border-bottom {
    position: relative;
    padding-bottom: 30px;
    text-align: center;
}
.header-border-bottom::before {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 50px;
    content: "";
    background: #1d82ff;
    left: 50%;
    transform: translateX(-50%);
}

.cover, .cover-small {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.cover > .container, .cover-small > .container {
    position: relative;
}
.cover {
    position: relative;
    height: 95vh;
}
.cover > .container > .row {
    height: 95vh;
}
.cover .heading {
    font-size: 62px;
    color: white;
    margin-top: 20px;
}
.cover .sub-heading {
    font-size: 20px;
    color: white;
    max-width: 600px;
    margin: 0 auto;
}
.cover-small {
    padding: 3em 0;
    height: inherit;
}
.cover-small > .container > .row {
    padding: 3em 0;
    height: inherit;
}
.cover-black {
    position: relative;
}
.cover-black::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";

    background: black;
    opacity: 0.4;
}
@media (max-width: 767px) {
    .cover {
        text-align: center;
        padding: 6em 0;
    }
    .cover-small {
        padding: 3em 0;
        height: inherit;
    }
    .cover > .container > .row {
        padding: 6em 0;
        height: inherit;
    }
    .cover-small > .container > .row {
        padding: 3em 0;
        height: inherit;
    }
    .cover .heading {
        font-size: 42px;
    }
}
.images {
  position: relative;
}
.images .img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    -webkit-box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5);
    box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
    .images .img2 {
        position: relative;
        left: inherit !important;
        top: inherit !important;
        max-width: 100%;
    }
}
.images.right .img1 {
    position: relative;
    z-index: 2;
    -webkit-box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5);
    box-shadow: -17px 10px 34px -18px rgba(0, 0, 0, 0.5);
}
.images.right .img2 {
    position: absolute;
    top: 50%;
    left: -40%;
    z-index: 1;
    max-width: 500px;
}
@media (max-width: 767px) {
    .images.right .img2 {
        position: relative;
        left: inherit !important;
        top: inherit !important;
        max-width: 100%;
    }
}

.icon-circle {
    position: relative;
    width: 80px;
    min-width: 80px;
    height: 80px;
    margin: 0 auto 1.5rem;

    border-radius: 50%;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}
.icon-circle i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translate(-50%, -50%);
}

.faq__item {
    display: flex;
    margin-bottom: 3em;
}
.faq__item > *:first-child {
    flex-shrink: 0;
    margin-right: 1rem;
}
.faq__item > * + * {
    flex-grow: 1;
}
.faq__item h3 {
    font-size: 17px;
    margin-top: 0;
}

.flow > * + * {
    margin-top: 4em;
}
.flow-small > * + * {
    margin-top: 2em;
}

/* Page styles */
.pg-accordion__toggle {
    display: block;
    border-bottom: 1px solid #e9ecef;
    padding: 10px 0;
    position: relative;
    color: #495057;
    text-transform: uppercase;
    font-size: 18px;
}
.pg-accordion__toggle[aria-expanded="true"] {
    color: #1d82ff;
    border-bottom: 1px solid transparent;
}
.pg-accordion__toggle::after {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Ionicons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f2c7";
}
.pg-accordion__toggle[aria-expanded="true"]::after {
    content: "\f2f4";
}
.stats-header {
    padding: 3em 0;
}
.stats-header__title {
    font-size: 62px;
    margin: 1rem 0;
    color:#212529;
}
.stats-header__subtitle {
    font-size: 30px;
    margin-top: 0;
}
.stats-info {
    margin-bottom: 1rem;
    text-align: center;
}
.stats-info__title {
    margin-top: 0;
    font-size: 45px;
}
.stats-info__subtitle {
    margin-top: 0;
    font-size: 20px;
}

.pg-footer {
    padding: 5em 0;
}

@media (max-width: 767px) {
    .stats-header__title {
        font-size: 42px;
    }
}

.offcanvas.show {
    overflow-x: auto;
    -webkit-box-shadow: 0 0 10px hsl(0deg 0% 4% / 70%);
    box-shadow: 0 0 10px hsl(0deg 0% 4% / 70%);
}

/* Button styles */

button {
    margin: 0;
    border: 0;
    background-color: unset;
    line-height: initial;
}
.btn {
    --bs-btn-font-weight: var(--font-weight-default);
}
.btn-outline-dark {
    --bs-btn-border-color: black;
}
.btn-xl {
    font-size: 13px;
    padding: 1.5rem;
    border-radius: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.btn-outline-dark[data-reverse-color] {
    text-transform: uppercase;
    outline: none;
    color: #fff;
    border: 1px solid black;
    background: #000;
}
.btn-outline-dark[data-reverse-color]:hover, .btn-outline-dark[data-reverse-color]:active, .btn-outline-dark[data-reverse-color]:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: none !important;
    color: black;
}

.cta_button {
    background-color:rgba(255,255,255,.7);
    font-size: 25px;
    padding: 1.5rem;
    border-radius: 0;
    letter-spacing: 0.2em;
    --bs-btn-border-color: unset;
    --bs-btn-color: #1d82ff;
    --bs-btn-hover-bg: #1d82ff;
}



/* Navbar styles */

.pg-navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 1em 1em;
}

.pg-navbar.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
}
.pg-navbar.scrolled.awake {
    margin-top: 0px;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}
.pg-navbar.scrolled.sleep {
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}
.pg-navbar.scrolled {
    background-color: var(--bs-white);
}
.pg-navbar.scrolled {
    -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
}

.navbar-dark {
    --bs-link-color: white;
    --bs-navbar-color: white;
}
.navbar-dark .navbar-brand {
    --bs-navbar-brand-color: white;
    --bs-navbar-brand-hover-color: #b2dcff;
}

.navbar-dark .btn-outline-dark {
    --bs-btn-color: white;
    --bs-btn-border-color: white;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-color: black;
    --bs-btn-hover-border-color: white;
}

.navbar-toggler {
    --bs-navbar-toggler-font-size: 30px;
}
.navbar-toggler, .navbar-toggler:active, .navbar-toggler:focus:not(:focus-visible) {
    border: none;
    box-shadow: none;
}
.pg-navmenu {
    --bs-bg-opacity: 1;
    padding: 0.5em 1em;
}
.navbar-dark .pg-navmenu {
    background: black;
    --bs-offcanvas-color: white;
}
.navbar-dark .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}
@media ( max-width: 576px ) {
    .navbar__cta {
        order: 2;
        width: 100%;
    }
}

#nav-links {
    --nav-link-primary-color: white;
    --nav-link-secondary-color: black;
    border-bottom: 1px solid var(--nav-link-secondary-color);
}
.nav-link {
    --bs-nav-link-font-size: 16px;
    --bs-nav-link-padding-y: 1.5em;
    border-top: 1px solid var(--nav-link-secondary-color);
    padding-left: 2em;
}
.nav-link:hover, .nav-link:focus {
    background: var(--nav-link-secondary-color);
    color: var(--nav-link-primary-color);
}
.nav-link:active {
    background: darkgrey;
}
.navbar-dark .nav-link, .navbar-dark .nav-link:last-child {
    border-color: var(--nav-link-primary-color);
}
.navbar-dark .nav-link:last-child {
    border-bottom: 1px solid;
}
.navbar-dark .nav-link:hover, .navbar-dark .nav-link:focus {
    background: var(--nav-link-primary-color);
    color: var(--nav-link-secondary-color);
}
.navbar-dark .nav-link:active {
    background: lightgrey;
}

.share-button {
    width: 40px;
}
.share-button img {
    width: 100%;
}
.navbar-dark .share-button {
    filter: invert(90%) sepia(100%) saturate(0%) hue-rotate(9deg) brightness(103%) contrast(102%);
}

.icon-button {
    cursor: pointer;
}
.nav-buttons {
    height: 30px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 2em;
}

.modal-footer {
    border-top: none;
}

.share-modal__items .list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.share-modal__items .list-group-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.share-modal__items .list-group-item {
    cursor: pointer;
}
.share__icon {
    width: 20px;
    margin-right: 10px;
}
.copy-notice {
    display: none;
}
.list-group-item-success.list-group-item-action:hover {
    background-color: #b1dfbb;
}
.link-action.list-group-item-success .copy-notice {
    display: inline;
}

.activity__list {
    --pg-activity-badge-size: 20px;
    margin: 0 calc( var(--pg-activity-badge-size) / 2);
    position: relative;
}
.activity-log__item {
    display: flex;
    padding: 0.5rem 0;
}
.activity-log__item::before {
    content: "";
    top: 20px;
    bottom: 0;
    left: 0;
    width: 3px;
    background: #DDD;
    position: absolute;
}
.activity-log__badge {
    margin-right: 20px;
    margin-left: calc( var(--pg-activity-badge-size) / -2 + 1px );
    z-index: 1;
    height: calc( var(--pg-activity-badge-size) * 2 );
    background-color: white;
    display: flex;
    align-items: center;
}
.activity-log__badge > .badge__inner{
    height: calc( var(--pg-activity-badge-size) );
    width: calc( var(--pg-activity-badge-size) );
    border-radius: 50%;
}
.activity-log__body {
    margin-top: 8px;
}

.offcanvas__header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em 1em;
    background: white;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.offcanvas__content {
    padding: 1em;
}

/* Home page styles */

.video-image-link {
    cursor: pointer;
}

#section-about .images {
    margin-bottom: 100px;
}
@media (max-width: 767px) {
    #section-about .images {
        margin-bottom: 0;
    }
}

/* Datatable styles */

.dtr-title {
    font-weight: bold;
}

/* User Profile styles */

#user-profile-details {
    width: min( 600px, 100% );
}

#mapbox-autocomplete-list div[data-value="address"] {
    display: none;
}

#createChallengeLabel[data-visibility="private"]:before {
    content: '\f200';
    font-family: 'Ionicons';
    padding-right: 16px;
}
#createChallengeLabel[data-visibility="public"]:before {
    content: '\f4c9';
    font-family: 'Ionicons';
    padding-right: 16px;
}

.user__avatar {
    position: relative;
}

.user__badge {
    --pg-badge-primary-color: #ffbd0b;
    --pg-badge-primary-shadow: #cb7407;
    --pg-badge-secondary-color: #f0a608;
    --pg-badge-light-border: #ffd84c;
    --pg-badge-dark-border: #d57e08;
    --pg-badge-darker-border: #c47207;
    --pg-badge-icon-color: var(--pg-badge-primary-color);
    --pg-badge-rotation: 44deg;
    --pg-badge-size: 150px;
    --pg-badge-inner-size: 70px;
    --pg-badge-outer-border-size: 7px;
    --pg-badge-inner-border-size: 5px;
    --pg-badge-icon-size: 50px;
    --pg-badge-sheen-width: 40px;

    margin: auto;
    position: relative;
    height: var(--pg-badge-size);
    width: var(--pg-badge-size);
}

.user__badge[disabled] {
    opacity: 0.3;
}

.user__badge .front, .user__badge .back {
  position: absolute;
  height: var(--pg-badge-size);
  width: var(--pg-badge-size);
  background: var(--pg-badge-primary-color);
  border-radius: 50%;
  border-top: var(--pg-badge-outer-border-size) solid var(--pg-badge-light-border);
  border-left: var(--pg-badge-outer-border-size) solid var(--pg-badge-light-border);
  border-right: var(--pg-badge-outer-border-size) solid var(--pg-badge-dark-border);
  border-bottom: var(--pg-badge-outer-border-size) solid var(--pg-badge-dark-border);
  transform: rotate(var(--pg-badge-rotation));
}
.user__badge .front:before, .user__badge .back:before {
  content: "";
  margin: auto;
  position: absolute;
  width: var(--pg-badge-inner-size);
  height: var(--pg-badge-inner-size);
  background: var(--pg-badge-secondary-color);
  border-radius: 50%;
  border-bottom: var(--pg-badge-inner-border-size) solid var(--pg-badge-light-border);
  border-right: var(--pg-badge-inner-border-size) solid var(--pg-badge-light-border);
  border-left: var(--pg-badge-inner-border-size) solid var(--pg-badge-dark-border);
  border-top: var(--pg-badge-inner-border-size) solid var(--pg-badge-dark-border);
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.user__badge .front .badge__icon, .user__badge .front .badge__icon {
  overflow: hidden;
  position: absolute;
  color: var(--pg-badge-icon-color);
  font-size: var(--pg-badge-icon-size);
  transform: rotate(calc( -1 * var(--pg-badge-rotation) ));
  text-align: center;
  text-shadow: 2px 2px 0 var(--pg-badge-primary-shadow);
  z-index: 3;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user__badge .front .badge__icon:after, .user__badge .back .badge__icon:after {
  content: "";
  position: absolute;
  height: 200px;
  width: var(--pg-badge-sheen-width);
  margin: 20px -65px;
  box-shadow: 50px -23px 0 -10px rgba(255, 255, 255, 0.22), 85px -10px 0 -16px rgba(255, 255, 255, 0.19);
  transform: rotate(-50deg);
  animation: shine 0s forwards ease;
  top: 0;
}
@keyframes shine {
  0% {
    margin: 20px -65px;
  }
  50% {
    margin: 70px -85px;
  }
  100% {
    margin: 20px -65px;
  }
}
.user__badge .front .shapes, .user__badge .back .shapes {
  transform: rotate(calc( -1 * var(--pg-badge-rotation) ));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.user__badge .front .shapes div, .user__badge .back .shapes div {
  width: 20px;
  height: 4px;
  background: var(--pg-badge-dark-border);
  border-top: 2px solid var(--pg-badge-darker-border);
  margin: calc( var(--pg-badge-size) / 2 - 10px ) 7px;
  position: relative;
}
.user__badge .front .shapes div:before, .user__badge .back .shapes div:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background: var(--pg-badge-dark-border);
  border-top: 2px solid var(--pg-badge-darker-border);
  margin: -10px 0;
  left: 0;
}
.user__badge .front .shapes div:after, .user__badge .back .shapes div:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background: var(--pg-badge-dark-border);
  border-top: 2px solid var(--pg-badge-darker-border);
  margin: 8px 0;
  left: 0;
}
.user__badge .front .shape_l, .user__badge .back .shape_l {
  float: left;
}
.user__badge .front .shape_r, .user__badge .back .shape_r {
  float: right;
}
.user__badge .front .top, .user__badge .back .top {
  font-size: 30px;
  color: var(--pg-badge-dark-border);
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
}
.user__badge .front .bottom, .user__badge .back .bottom {
  font-size: 20px;
  font-weight: bold;
  color: var(--pg-badge-dark-border);
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.btn-check + .btn-secondary {
    --bs-btn-bg: white;
    --bs-btn-color: #565e64;
}
.btn-check + .btn:hover {
    color: var(--bs-btn-active-bg);
    background: #f4f5f7;
    font-weight: bold;
}
.btn-check:checked + .btn {
    color: var(--bs-btn-active-bg);
    background: #d1d6dd;
    font-weight: bold;
}

.dropdown-toggle {
    width: 2rem;
    height: 2rem;
    padding: 0;
    line-height: 0;
}
.dropdown-toggle::after {
    display: none;
}